<h3 class="ui header">{{t "forms.i-i-s-r-s-3-разреш-на-строит-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.наименование
      class=(if (v-get validationObject "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-r-s-3-разреш-на-строит-e.наименование-caption")
      data-test-i-i-s-r-s-3-разреш-на-строит-e-------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "наименование" "messages")}}
  </div>
  <div class="field" data-test-i-i-s-r-s-3-разреш-на-строит-e--------------="true">
    <label>{{t "forms.i-i-s-r-s-3-разреш-на-строит-e.видРазрешения-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-r-s-3-t-вид-разрешения")
      value=model.видРазрешения
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationObject "видРазрешения" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-r-s-3-разреш-на-строит-e.архив-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.архив
      data-test-i-i-s-r-s-3-разреш-на-строит-e------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "архив" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.i-i-s-r-s-3-разреш-на-строит-e.датаРазрешения-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.датаРазрешения
      class=(if (v-get validationObject "датаРазрешения" "isInvalid") "error")
      data-test-i-i-s-r-s-3-разреш-на-строит-e---------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "датаРазрешения" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерРазрешения
      class=(if (v-get validationObject "номерРазрешения" "isInvalid") "error")
      label=(t "forms.i-i-s-r-s-3-разреш-на-строит-e.номерРазрешения-caption")
      data-test-i-i-s-r-s-3-разреш-на-строит-e----------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "номерРазрешения" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-r-s-3-разреш-на-строит-e.объектСтроит-caption"}}</label>
    {{flexberry-groupedit
      componentName="объектСтроитGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.объектСтроит
      content=model.объектСтроит
      readonly=readonly
      orderable=false
      class=(if (v-get validationObject "объектСтроит" "isInvalid") "error")
      data-test-i-i-s-r-s-3-разреш-на-строит-e-------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "объектСтроит" "messages")}}
  </div>
</form>